body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:220px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:12px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:57px;
  width:910px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:12px;
}
#u879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:161px;
  width:402px;
  height:711px;
  display:flex;
  transition:none;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:711px;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:161px;
  width:402px;
  height:711px;
  display:flex;
  transition:none;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:711px;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:161px;
  width:402px;
  height:711px;
  display:flex;
  transition:none;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:711px;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:526px;
  width:342px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(-21.365187268457316deg);
  -moz-transform:rotate(-21.365187268457316deg);
  -ms-transform:rotate(-21.365187268457316deg);
  transform:rotate(-21.365187268457316deg);
  transition:none;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-21px;
  width:377px;
  height:48px;
}
#u883p000 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:354px;
  height:14px;
  -webkit-transform:rotate(0.36518726845731564deg);
  -moz-transform:rotate(0.36518726845731564deg);
  -ms-transform:rotate(0.36518726845731564deg);
  transform:rotate(0.36518726845731564deg);
}
#u883p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:14px;
}
#u883p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-16px;
  width:38px;
  height:38px;
  -webkit-transform:rotate(0.36518726845731564deg);
  -moz-transform:rotate(0.36518726845731564deg);
  -ms-transform:rotate(0.36518726845731564deg);
  transform:rotate(0.36518726845731564deg);
}
#u883p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:38px;
  height:38px;
}
#u883p002 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:-22px;
  width:52px;
  height:50px;
  -webkit-transform:rotate(180.3651872684573deg);
  -moz-transform:rotate(180.3651872684573deg);
  -ms-transform:rotate(180.3651872684573deg);
  transform:rotate(180.3651872684573deg);
}
#u883p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:52px;
  height:50px;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:376px;
  width:597px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(25.534016415873843deg);
  -moz-transform:rotate(25.534016415873843deg);
  -ms-transform:rotate(25.534016415873843deg);
  transform:rotate(25.534016415873843deg);
  transition:none;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-21px;
  width:632px;
  height:48px;
}
#u884p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:614px;
  height:18px;
  -webkit-transform:rotate(0.4659835841261568deg);
  -moz-transform:rotate(0.4659835841261568deg);
  -ms-transform:rotate(0.4659835841261568deg);
  transform:rotate(0.4659835841261568deg);
}
#u884p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:18px;
}
#u884p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-16px;
  width:38px;
  height:38px;
  -webkit-transform:rotate(0.4659835841261568deg);
  -moz-transform:rotate(0.4659835841261568deg);
  -ms-transform:rotate(0.4659835841261568deg);
  transform:rotate(0.4659835841261568deg);
}
#u884p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u884p002 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:-22px;
  width:52px;
  height:50px;
  -webkit-transform:rotate(-179.53401641587385deg);
  -moz-transform:rotate(-179.53401641587385deg);
  -ms-transform:rotate(-179.53401641587385deg);
  transform:rotate(-179.53401641587385deg);
}
#u884p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
